<div class="top">
<div class="contact-form">
    <mat-card class="contact-card mat-elevation-z4">
      <!-- <mat-toolbar class="header">
        <span>Message/Feedback</span>
      </mat-toolbar> -->
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Your Name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Your Email">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Subject">
            <mat-option value="option">Query</mat-option>
            <mat-option value="option">Feedback</mat-option>
            <mat-option value="option">Report a bug</mat-option>
            <mat-option value="option">Don't have a subject!</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Message" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card>
</div>
</div>
